@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@import 'fumadocs-ui/css/vitepress.css';
@import 'fumadocs-ui/css/catppuccin.css';


:root {
    --color-fd-background: hsl(0, 0%, 100%);
  }
   
  .dark {
    --color-fd-background: hsl(0, 0%, 0%);
  }

  .gradient-background {
    background: linear-gradient(135deg, #a1c4fd 0%, #c2e9fb 100%);
    min-height: 100vh;
  }

@source '../../node_modules/fumadocs-ui/dist/**/*.js';
